


#nav{
display: none;    
}


#dropdown{
display: none;    
}


#content {color: black;}
h1,h2,h3,h4 {color: black;}
a:link, a:visited {color:black;}

a:after  { content:" [" attr(href) "] "; }   
    