body { 
background-color:#FEFEFE;
font-family:"verdara" sans-serif;
font-size:0.9em;
overflow-x:hidden;
/*overflow tar bort x-scrollen!*/
}

H1 {
color:red;

text-transform: Uppercase;
font-size:1.5em;
}

H2{
font-size:1.3em;
color:#0404B4;    
text-transform: Uppercase;
}
h3{
color:#FC4040;
text-transform: Uppercase;
background-color: #E6E6E6;
}

/*********************header**************************/

#header {
background-color:#BDBDBD;
background-image: url("../pics/headers.png");
height:90px;
width:106%;
margin:-2% -1%  0% -2% ;
}

#header img{
position: relative;
left:15%;
bottom:-20px;
}

    
/*************navigation************************/

#nav{
height:30px;
width:104% ;
margin:-46px -20px 1px -20px ;
border-bottom: 2px solid #6E6E6E;
}

#nav li {
float:left;   
list-style-type: none;

}

#nav li a{
display: block;
font-family: Verdana;
color:black;
text-align: center;
font-size:1.3em;
font-weight: 100;
text-transform: Uppercase;
width:170px;
height: 28.5px;
text-decoration: none;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

#nav ul{
margin-left:45%;
}

#nav .active a {
color:#08298A;
width:170px;
height:31px;
background-color: white;
border-right:1.5px solid #6E6E6E;
border-left: 1.5px solid #6E6E6E;
border-top: 1.5px solid #6E6E6E;
font-size:1.4;

}

#nav ul li a:hover{
color:black;
font-size:1.2em;
}    


/********************dropdown***************************/

#dropdown {
background-color: #29529f;
width:70px;
height:30px;
float:right;
margin-right:40px;
margin-top: -4px;
font-size:0.8;
border-left: 1.5px solid gray;
border-right: 1.5px solid gray;
border-bottom: 1.5px solid gray;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}


#dropdown p{
color: white;
text-transform: Uppercase;
font-size:0.7em;
  
}

#pil{
background-image: url("../pics/pil.png");    
background-repeat: no-repeat;
width:10px;
height:10px;
float:right;
margin-top:-20px;
margin-right:5px;
}

.hide {
display: none;
color:black;
}
#hide{
background-color:#BDBDBD;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
width:60px;
height:90px;
float:right;
font-size:0.8;
margin-top:28px;
margin-right:-65px;
}

#facebook{
margin-bottom:15px;
margin-top:5px;
margin-left:15px;
}

#twitter{
margin-left:15px;    
}
/*****************content osv*************************/

#container{
min-width:1400px;
min-height:640px;
font-family:"verdara" sans-serif;
overflow-y: visible ;
background-color: #FAFAFA;

}

#content{
width:70%;
min-height:640px;
overflow: auto;
margin-left:12.5%;
background-color: white;
overflow-x: hidden;
border-left:50px #F2F2F2 solid;
border-right:50px #F2F2F2 solid;
}    


/***************index och service***************************/
#huvudtext{
margin-top:20px;
float:left;
width:55%;
padding-left:4%;
padding-right:2%;
border-right: dotted 1px gray;

}


#tjocktext{
font-size:1.2em;
font-weight:200px;
}


#sidotext{
float:right;
width:30%;  
margin-right:4%;
margin-top: 60px;
background-color:#E6E6E6;
border-radius: 6px;

}

#sidotext img{
float:left;
margin-left:5px;
margin-right:10px;
}
#sidotext h3{
background-color:#29529f;   
color:white;
text-align: center;
}
#sidotext p{
font-size:0.7em;    
}





#sidotext2{
float:right;
width:30%;  
margin-right:4%;
margin-top: 60px;
background-color:#E6E6E6;
border-radius: 6px;
}
#sidotext2 img{
float:left;
margin-left:5px;
margin-right:10px;
}
#sidotext2 h3{
background-color:#29529f;   
color:white;
text-align: center;
}
#sidotext2 p{
font-size:0.8em;    
}


#deck{
margin-left: 180px;   
margin-top:-10px;
}


/****************kontakta***************************************/

#kontakta{
margin-top:20px;    
float:left;
width:400px;
height:530px;
padding-left:60px;
margin-left:60px;
}

.formul p{
font-weight:bold;
}    

.formul {
border:none;
Font: Verdana sans-serif;
}


.namn{
background-color:#E6E6E6;  
position:relative;
left:50px;
width:195px;
border:none;
}

.mobil{
background-color:#E6E6E6; 
width:190px;    
border:none;
}
.reg{
background-color:#E6E6E6; 
width:80px;   
border:none;
}

.text{
background-color:#E6E6E6; 
border:none;

}


#snabbbil{
background-image:url(../pics/snabb.jpg);
background-repeat: no-repeat;
background-size:400px 200px;
width:400px;
height:200px;
position: relative;
top:-5px;
}

#adress{
float:right;
width:300px;
max-height:530px;
min-height:450px;
margin-right:50px;
margin-top:20px;
padding-right:20px;
margin-bottom:20px;
}

#adress p{
font-weight:100 ;
font-size:1.1em;
line-height: 80%;
}


#verktyg{
background-image:url(../pics/massor.png);
background-position: 0 -685px; 
width: 100px; 
height: 100px; 
float:left;
position: relative;
right:-450px;
bottom:400px;
}


#map_canvas {
width: 300px;
height: 200px;
background-color:gray;
      }
      
      
      
      
/*****************service*****************/

/*javascript*/

.meca{

padding-bottom:40px;
}

#bildspel{
position:relative;
left:45px;
}

/*javascript*/

#sidotext3{
float: right;
width:30%;
margin-right: 4%;
margin-top:60px;
background-color:#E6E6E6;
border-radius: 6px;
}

#sidotext3 h2{
background-color: #FC4040;    
color:white;
text-align:center;
}


h4{
font-size:1.2em;   
}

/************************footer*******************************/
#footer{
background-image: url(../pics/fot.png);
background-repeat:repeat;    
background-size: 50% 90px;
height:60px;
width:103%;
margin-left:-1%;
margin-right:-1%;
margin-bottom:-1%;
margin-top:-20px;
box-shadow: 0px -5px 10px 0px gray;
}




#footer ul {
margin-left:13%;    
}

#footer li  { 
float:left;
list-style-type: none;
padding-top:20px;
font-weight:bolder;
text-transform: uppercase;

}

#footer li a {
margin-left:150px; 
color:black;
opacity:0.7;
font-size:1.2em;

}


